.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem 1rem;
    border: 1px solid #1a1a1a;
    text-align: left;
  }

  th {
    background-color: var(--primary);
    font-weight: bold;
  }
}
