.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 2rem;

  &__go-back-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
  }

  &__logo {
  }
}
